In [1]:
from matplotlib import style
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
fires_df = pd.read_csv('../Fires.csv')

In [7]:
fires_clean = fires_df[fires_df["STATE"] == "TX"]
fires_clean.head()

,Unnamed: 0,STATE,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE
283,283,TX,2005,3.0,B,Arson,33.786111,-96.150000
284,284,TX,2005,55.0,C,Debris Burning,31.312500,-94.270833
285,285,TX,2005,2.0,B,Campfire,33.345833,-97.595833
286,286,TX,2005,0.3,B,Smoking,31.386667,-95.150556
287,287,TX,2005,55.0,C,Lightning,31.354167,-95.085278

In [8]:
fires_clean['STAT_CAUSE_DESCR'].unique()

array(['Arson', 'Debris Burning', 'Campfire', 'Smoking', 'Lightning',
       'Equipment Use', 'Miscellaneous', 'Children', 'Railroad',
       'Fireworks', 'Powerline', 'Missing/Undefined', 'Structure'],
      dtype=object)

In [10]:
fires_clean.head()

,STATE,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE
283,TX,2005,3.0,B,Arson,33.786111,-96.150000
284,TX,2005,55.0,C,Debris Burning,31.312500,-94.270833
285,TX,2005,2.0,B,Campfire,33.345833,-97.595833
286,TX,2005,0.3,B,Smoking,31.386667,-95.150556
287,TX,2005,55.0,C,Lightning,31.354167,-95.085278

In [11]:
fires_clean.to_csv('fires_clean2.csv', index=False)