In [1]:
from matplotlib import style
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datatime as dt

ModuleNotFoundError: No module named 'datatime'

In [3]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [6]:
engine = create_engine("sqlite:///FPA_FOD_20170508.sqlite")

In [7]:
sql = """
select STAT_CAUSE_DESCR, FIRE_SIZE 
from Fires
where STAT_CAUSE_DESCR = 'Children'
"""
df_files = pd.read_sql(sql, con=engine)
df_files.head()

  STAT_CAUSE_DESCR  FIRE_SIZE
0         Children        0.5
1         Children        0.1
2         Children        0.1
3         Children        0.1
4         Children        0.1

In [8]:
def get_cause_detail(cause):
    
    return f"""
        select STAT_CAUSE_DESCR, FIRE_SIZE 
        from Fires
        where STAT_CAUSE_DESCR = '{cause}'    
    """

In [10]:
inp_cause = input("What cause are you interested in? ")

What cause are you interested in? Lightning

In [13]:
df_cause_detail = pd.read_sql(get_cause_detail(inp_cause), con=engine)
df_cause_detail.head(10)

  STAT_CAUSE_DESCR  FIRE_SIZE
0        Lightning       0.25
1        Lightning       0.10
2        Lightning       0.10
3        Lightning       0.10
4        Lightning       0.10
5        Lightning       0.10
6        Lightning       0.10
7        Lightning       0.10
8        Lightning       0.20
9        Lightning       0.10