In [1]:
from matplotlib import style
import matplotlib.pyplot as plt

In [3]:
import numpy as np
import pandas as pd

In [4]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [7]:
fires_df = pd.read_csv('Fires.csv')

In [14]:
fires_df.head(100)

,Unnamed: 0,STATE,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE
0,0,CA,2005,0.10,A,Miscellaneous,40.036944,-121.005833
1,1,CA,2004,0.25,A,Lightning,38.933056,-120.404444
2,2,CA,2004,0.10,A,Debris Burning,38.984167,-120.735556
3,3,CA,2004,0.10,A,Lightning,38.559167,-119.913333
4,4,CA,2004,0.10,A,Lightning,38.559167,-119.933056
...,...,...,...,...,...,...,...,...
95,95,CA,2005,0.10,A,Debris Burning,38.700278,-119.840556
96,96,CA,2005,0.01,A,Arson,38.453611,-119.458611
97,97,NM,2005,0.10,A,Lightning,36.669444,-107.253611
98,98,NM,2005,0.25,A,Lightning,36.876389,-107.219167
99,99,MT,2005,0.10,A,Railroad,48.458333,-115.666667